# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Editor & OS
.DS_Store
.idea/
.vscode/

# Secrets
.env

# Data inputs
data/raw/**/*.zip
data/raw/**/*.osm.pbf
tmp/
*.parquet
*.csv

# Data outputs
data/processed/
*.sqlite

# Notebooks
*.ipynb_checkpoints/
